snippet f
	function$1 ${2:FUNCTION_NAME}
		$3
	endfunction

snippet if
	if ${1:true}
		$2
	endif

snippet ifl
	if ${1:true}
		$2
	else
		$3
	endif

snippet lif
	elseif ${1:true}
		$2

snippet l
	else
		$1

snippet eif
	endif
